body {
    background-color: #ECFDF5;
}
.mainBody {
    width: 550px;
    height: 550px;
    flex-shrink: 0;
}
#title1 {
    color: var(--night, #2B283A);
    font-family: 'Karla', sans-serif;   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: 40px; /* 100% */
    letter-spacing: -2px;
    margin: 20px 30px 0px 100px;

}
#title2 {
    color: #10B981;
    font-family: 'Karla', sans-serif;
        font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -2px;
    margin: 0px 30px 0px 100px;

}
#description {
    color: #6B7280;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
margin: 2px 30px 0px 100px;

}

#btn-gent {
color: var(--white, #FFF);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
display: inline-flex;
padding: 9px 17px 9px 15px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 6px;
background: #10B981;
/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
transition: 0.5s;
margin: 50px 100px 40px 200px;

}
#btn-gent:hover {
    background-color: #5a9a84;
}
hr {
    margin: 50px 0;
    color: #98979a;

}
#action_btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;


}



#gent-one , #gent-two {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 20px 20px auto 20px;
    padding: 9px 17px 9px 15px;
    width: 250px;
    height: 20px;
    background: #273549;
    color: #5def92;
    border-radius: 6px;
}
#gent-one:hover , #gent-two:hover {
    background: #576272;
}
